<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <!-- Include 2d map tools -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzmmRv2VeWRfVxb8EzPmAARDoKdlqFohg" async defer></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
  <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <!-- Bootstrap core CSS -->
  <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>  
  <!-- for turf -->
  <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>

    <style>
    .myDiv_map {
        border: 1px outset black;
        background-color: lightblue;    
        text-align: center;
        width:100%;
        height: 400px;
    }
    </style>
<head>
<body>
    <div class="container">
        <!-- <button class="btn btn-primary""> download </button>  -->
        <table id="table_pigeonNumber" class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>勾選</th>
                    <th>公環號碼</th>
                    <th>放飛時間</th>
                    <th>實際飛行距離(m)</th>
                    <!-- <th>時間</th> -->
                    <th>實際飛行速度(m/min)</th>
                    <th>直線距離(m)</th>
                    <th>直線分速(m/min)</th>
                    <th>路徑效率</th>
                    <th>是否裁減</th>
                    <th>圖示</th>
                </tr>
            </thead>
            <tbody id="table_pigeonNumber_body" title="雙擊查看速度海拔並進行裁減">
            </tbody>
          </table>
        <br></br>
        <div id="map_showroutes" class="myDiv_map">
            <!-- <button type="button" class="btn btn-light">Light</button> -->
        </div>
        <br></br>
        <!-- Modal -->
        <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">即時距離</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><label>論文中用這個公式來判斷鴿子是否是pair飛行的，可以作為pair飛行的驗證工具；</label></p>
                <p><label>公式：即時距離 = D點到點的距離（timestamp）；</label></p>
                <p><label>即時距離大於300m時不是對飛；</label></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
            </div>
        </div>
        </div>
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">什麼是即時距離？</a>
        <br></br>
        <div id ='realtimeDistance_plot' ></div>
            <div id="canvas_realtimeDistance_plot"></div>
          </div>
        </div>
    </div>
    <script>
        //parse context to origin data
        let routeIds = '{{ routeIds|safe }}';
        let routeId_list = routeIds.split(',');
        let trackDatas = '{{ trackDatas|safe }}';
        let normalized_trackDatas = JSON.parse(trackDatas);
        // console.log(trackDatas,normalized_trackDatas);
        let normalized_trackDatas_dict = {};
        for(var i=0;i<normalized_trackDatas.length;i++)
        {
            var keys = Object.keys(normalized_trackDatas[i]);
            console.log(keys[0],normalized_trackDatas[i][keys[0]]);
            normalized_trackDatas_dict[keys[0]] = normalized_trackDatas[i][keys[0]];
        }
        let trackSummarys = '{{ trackSummarys|safe }}';
        let normalized_trackSummarys = JSON.parse(trackSummarys);
        let normalized_trackSummarys_dict = {};
        for(var i=0;i<normalized_trackSummarys.length;i++)
        {
            var keys = Object.keys(normalized_trackSummarys[i]);
            // console.log(keys[0],normalized_trackSummarys[i][keys[0]]);
            normalized_trackSummarys_dict[keys[0]] = normalized_trackSummarys[i][keys[0]];
        }
        console.log(normalized_trackSummarys,normalized_trackSummarys_dict);
        let trackFiltered = '{{ trackFiltered|safe }}';
        let normalized_trackFiltered = JSON.parse(trackFiltered);
        let normalized_trackFiltered_dict = {};
        for(var i=0;i<normalized_trackFiltered.length;i++)
        {
            var keys = Object.keys(normalized_trackFiltered[i]);
            // console.log(keys[0],normalized_trackFiltered[i][keys[0]]);
            normalized_trackFiltered_dict[keys[0]] = normalized_trackFiltered[i][keys[0]];
        }
        console.log('normalized_trackFiltered:',normalized_trackFiltered);
        
    let map_pigeonNumberReleaseTime_routeIndex = [];
    let map_routeIndex_pigeonNumberReleaseTime = {};
    let map_routeIndex_routeId = {};
    let LocalDB_InitData_routeFiltered = [];
    let pigeonNumbers_releaseTime = [];
    let routes_origin = [];
    console.log(routeId_list);
    func_covertOriginDataToDicts();
    console.log('pigeonNumbers_releaseTime:',pigeonNumbers_releaseTime);
    function func_covertOriginDataToDicts() {
        for(var i=0;i<routeId_list.length;i++)
        {
          routeId = routeId_list[i];
          var route = normalized_trackDatas_dict[routeId];
          console.log(typeof(route));
          for(var j=0;j<route.length;j++)
          {
            route[j]['time'] = (new Date(route[j]['time']+' UTC')).toLocaleString('zh-TW',{hour12: false});
          }
          routes_origin.push(route);
          var summary = normalized_trackSummarys_dict[routeId];
          console.log('summary',summary);
          var cur_pigeonNumber_releaseTime = {'pigeonNumber':summary['recordname'],'release_time':summary['settingtime'],'real_distance':summary['realdistance'],'speed':summary['realspeed'],'straightdistance':summary['straightdistance'],'straightspeed':summary['straightspeed']};
          cur_pigeonNumber_releaseTime['routeEfficiency'] = parseFloat(cur_pigeonNumber_releaseTime['straightdistance'])/parseFloat(cur_pigeonNumber_releaseTime['real_distance']);
          //parse filter
          var route_filter = normalized_trackFiltered_dict[routeId];
          console.log(route_filter);
          if(route_filter)
          {
            console.log('route_filter ',route_filter.length,route_filter);
            route_filter = route_filter[0];
            LocalDB_InitData_routeFiltered.push({'routeIndex':routes_origin.length-1,'startIndex':route_filter[1],'endIndex':route_filter[2]});
            cur_pigeonNumber_releaseTime['filter'] = true;
            cur_pigeonNumber_releaseTime['real_distance']= route_filter[4];
            cur_pigeonNumber_releaseTime['speed']= route_filter[5];
            cur_pigeonNumber_releaseTime['straightdistance']= route_filter[6];
            cur_pigeonNumber_releaseTime['straightspeed']= route_filter[7];
            cur_pigeonNumber_releaseTime['routeEfficiency']= route_filter[8];
            var startIndex = parseInt(route_filter[1]);
            var endIndex = parseInt(route_filter[2]);
            console.log(cur_pigeonNumber_releaseTime);
            var origin_route = routes_origin.pop();
            var filtered_route = origin_route.slice(startIndex,endIndex);
            routes_origin.push(filtered_route);
            console.log('filter',origin_route.length,startIndex,endIndex,filtered_route);
          }
          else
          {
            cur_pigeonNumber_releaseTime['filter'] = false;
          }
          pigeonNumbers_releaseTime.push(cur_pigeonNumber_releaseTime);

          map_pigeonNumberReleaseTime_routeIndex.push({'pigeonNumber':summary['recordname'],'release_time':summary['settingtime'],'index':routes_origin.length-1});
          console.log('map_pigeonNumberReleaseTime_routeIndex',map_pigeonNumberReleaseTime_routeIndex);
          map_routeIndex_pigeonNumberReleaseTime[routes_origin.length-1] = cur_pigeonNumber_releaseTime;
          map_routeIndex_routeId[routes_origin.length-1] = routeId;
        }
      }

        //for Map_showPaths
        let lineObjects_in_Map_showPaths = [];
        let markersObjects_in_Map_showPaths =[];
        let map_handler = null;
        let markerForSpeedPlot = null;
        
        map_init();
        function map_init()
        {
            map_handler = L.map('map_showroutes', { preferCanvas: true }).setView([0, 0], 8);
            // var tile_openstreet = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            //         maxZoom: 20,
            //         // attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
            // }).addTo(map_handler);
            var roadMutant = L.gridLayer
                    .googleMutant({
                        maxZoom: 24,
                        type: "roadmap",
                    })
                    .addTo(map_handler);

                var terrainMutant = L.gridLayer.googleMutant({
                    maxZoom: 24,
                    type: "terrain",
                });

                var hybridMutant = L.gridLayer.googleMutant({
                    maxZoom: 24,
                    type: "hybrid",
                });

                var grid = L.gridLayer({
                    // attribution: "Debug tilecoord grid",
                });

                L.control
                    .layers(
                        {
                            Roadmap: roadMutant,
                            Terrain: terrainMutant,
                            Hybrid: hybridMutant,
                        },
                        {
                            // "markers": markers,
                            // grid,
                        },
                        {
                            collapsed: false,
                        }
                    )
                    .addTo(map_handler);
        }
        
        //for windy
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

    showInMap_multi_init(routes_origin);
    function showInMap_multi_init(paths) {

            var path_normalize_list = [];
            for( var i=0;i<paths.length;i++)
            {
                var path = paths[i];
                var path_normalize=[];
                for (var j = 0; j < path.length; j++) {
                    var cell = [];
                    cell.push(parseFloat(path[j]['latitude']));
                    cell.push(parseFloat(path[j]['longitude']));
                    path_normalize.push(cell);
                }
                path_normalize_list.push(path_normalize);
            }

            console.log(path_normalize_list);

            map_handler.setView(path_normalize_list[0][0], 10);

            var color_list_routes = [];
            for(var i=0;i<path_normalize_list.length;i++)
            {
                var color  = getRandomColor();
                color_list_routes.push(color);
                // var lineObject = drawPath(path_normalize_list[i],'red','3');
                var  lineObject= drawPath(path_normalize_list[i],color,'3');
                // var markers = drawMarkers(path_normalize_list[i],color,paths[i]);
                var pigeonNumber_releaseTime = map_routeIndex_pigeonNumberReleaseTime[i];
                // console.log('pigeonNumber_releaseTime',pigeonNumber_releaseTime);
                // console.log(pigeonNumber_releaseTime['pigeonNumber']);
                // var line_group = L.layerGroup(markers)
                //     .addLayer(lineObject)
                //     .addTo(map_handler);
                var line_group = L.layerGroup()
                    .addLayer(lineObject)
                    .addTo(map_handler);
                lineObjects_in_Map_showPaths.push({'pigeonNumber':pigeonNumber_releaseTime['pigeonNumber'],'releaseTime':pigeonNumber_releaseTime['release_time'],'filtered':false,'object':line_group});
                console.log('lineObjects_in_Map_showPaths',lineObjects_in_Map_showPaths);                
                // markersObjects_in_Map_showPaths.concat(markers);
            }
            
            function drawPath(pathLine_origin,color,weight) {
                console.log(typeof (pathLine_origin));
                // console.log(pathLine_origin);
                var pathLine_origin_normalized = pathLine_origin;
                // console.log(typeof (pathLine_origin_normalized));
                // console.log(pathLine_origin_normalized);

                // var polyline_origin = L.polyline(pathLine_origin_normalized, { color: color, weight: weight }).addTo(map_handler);
                var polyline_origin = L.polyline(pathLine_origin_normalized, { color: color, weight: weight });
                
                return polyline_origin;
            }

            function drawMarkers(pathLine_origin,color,originDatas) {
                var Markers = [];
                for(var i=0;i<pathLine_origin.length;i++)
                {
                    // console.log(originDatas[i]);
                    var time = originDatas[i]['time'];
                    var speed = originDatas[i]['speed'];
                    var heading = originDatas[i]['heading'];
                    var elevation = originDatas[i]['elevation'];
                    var text = "<br>"+"time : "+time.toString()
                    +"<br>"+"speed : "+speed.toString()
                    +"<br>"+"heading : "+heading.toString()
                    +"<br>"+"elevation : "+elevation.toString();
                    // console.log(text);
                    Markers.push(L.marker(pathLine_origin[i],{opacity:0.5}).bindPopup(text).addTo(map_handler));
                }
                return Markers;
            }
    }
    tracks_showInTable(pigeonNumbers_releaseTime);
    function tracks_showInTable(pigeonReleaseTime_list) {
            let table_pigeonNumber_body = document.getElementById('table_pigeonNumber_body');
            for (var i = 0; i < pigeonReleaseTime_list.length; i++) {
                func_table_track_addData(pigeonReleaseTime_list[i]);
            }
            function func_table_track_addData(pigeonNumGps) {
                var row = document.createElement('tr');
                // var row_data_0 = document.createElement("INPUT");
                // row_data_0.setAttribute("type", "checkbox");
                // row_data_0.setAttribute('id','table_pigeonNumber_body_checkbox');
                var row_data_0 = document.createElement('td');
                var tmp_checkbox = document.createElement("INPUT");
                tmp_checkbox.setAttribute("type", "checkbox");
                row_data_0.appendChild(tmp_checkbox);
                function func_cb_checbox()
                {
                    // console.log('click');
                    //todo
                    //1 if checked show path in map ,not remove from map
                    //2 if checked show path in speed_elevation_plot ,not remove from map
                    if(tmp_checkbox.checked)
                    {
                        var pigeonNumber = row_data_1.innerHTML;
                        var release_time = row_data_2.innerHTML;
                        console.log(pigeonNumber,release_time,release_time.length,typeof(release_time));
                        for(var i_lineObject=0;i_lineObject<lineObjects_in_Map_showPaths.length;i_lineObject++)
                        {
                           if(lineObjects_in_Map_showPaths[i_lineObject]['pigeonNumber']==pigeonNumber&&lineObjects_in_Map_showPaths[i_lineObject]['releaseTime']== release_time)
                            {
                                console.log('remove polyline');
                                map_handler.addLayer(lineObjects_in_Map_showPaths[i_lineObject]['object']);
                                // windy_map_handler.addLayer(lineObjects_in_windy[i_lineObject]['object']);
                            }
                        }
                    }
                    else
                    {
                        var pigeonNumber = row_data_1.innerHTML;
                        var release_time = row_data_2.innerHTML;
                        console.log(pigeonNumber,release_time,release_time.length,typeof(release_time));
                        for(var i_lineObject=0;i_lineObject<lineObjects_in_Map_showPaths.length;i_lineObject++)
                        {
                           if(lineObjects_in_Map_showPaths[i_lineObject]['pigeonNumber']==pigeonNumber&&lineObjects_in_Map_showPaths[i_lineObject]['releaseTime']== release_time)
                            {
                                console.log('remove polyline');
                                map_handler.removeLayer(lineObjects_in_Map_showPaths[i_lineObject]['object']);
                                // windy_map_handler.removeLayer(lineObjects_in_windy[i_lineObject]['object']);
                            }
                        }
                    }
                }
                tmp_checkbox.checked = true;
                tmp_checkbox.addEventListener('click',func_cb_checbox);
                // row_data_0.checked = true;
                // row_data_0.addEventListener('click',func_cb_checbox);
                // row_data_0.style.position = 'absolute';
                // row_data_0.style.top = '30%';
                var row_data_1 = document.createElement('td');
                row_data_1.innerHTML = pigeonNumGps['pigeonNumber'];
                row_data_1.style.textAlign = "center";
                var row_data_2 = document.createElement('td');
                row_data_2.innerHTML = pigeonNumGps['release_time'];
                row_data_2.style.textAlign = "center";
                var row_data_3 = document.createElement('td');
                row_data_3.innerHTML = parseFloat(pigeonNumGps['real_distance']).toFixed(3);
                row_data_3.style.textAlign = "center";
                var row_data_4 = document.createElement('td');
                row_data_4.innerHTML = parseFloat(pigeonNumGps['speed']).toFixed(3);
                row_data_4.style.textAlign = "center";
                var row_data_5 = document.createElement('td');
                row_data_5.innerHTML = parseFloat(pigeonNumGps['straightdistance']).toFixed(3);
                row_data_5.style.textAlign = "center";
                var row_data_6 = document.createElement('td');
                row_data_6.innerHTML = parseFloat(pigeonNumGps['straightspeed']).toFixed(3);
                row_data_6.style.textAlign = "center";
                var row_data_7 = document.createElement('td');
                row_data_7.innerHTML = parseFloat(pigeonNumGps['routeEfficiency']).toFixed(3);
                row_data_7.style.textAlign = "center";
                var row_data_8 = document.createElement('td');
                if(pigeonNumGps['filter'])
                {
                    row_data_8.innerHTML = '是';
                }
                else
                {
                    row_data_8.innerHTML = '未';
                }
                row_data_8.style.textAlign = "center";

                var row_data_9 = document.createElement('td');
                var tmp_button = document.createElement('button');
                row_data_9.appendChild(tmp_button);
                // tmp_button.classList.add("btn btn-info");
                tmp_button.innerHTML = '圖示';
                function func_cb_button()
                {
                    func_cb_row();
                }
                tmp_button.addEventListener('click',func_cb_button);

                row.appendChild(row_data_0);
                row.appendChild(row_data_1);
                row.appendChild(row_data_2);
                row.appendChild(row_data_3);
                row.appendChild(row_data_4);
                row.appendChild(row_data_5);
                row.appendChild(row_data_6);
                row.appendChild(row_data_7);
                row.appendChild(row_data_8);
                row.appendChild(row_data_9);

                function func_cb_row()
                {
                    console.log('click');
                    //todo
                    //1 if checked show path in map ,not remove from map
                    //2 if checked show path in speed_elevation_plot ,not remove from map

                    var pigeonNumber = row_data_1.innerHTML;
                    var release_time = row_data_2.innerHTML;
                    
                    var route_index = -1;
                    for(var i=0;i<map_pigeonNumberReleaseTime_routeIndex.length;i++)
                    {
                        if(map_pigeonNumberReleaseTime_routeIndex[i]['pigeonNumber']==pigeonNumber&&map_pigeonNumberReleaseTime_routeIndex[i]['release_time']==release_time)
                        {
                            route_index=map_pigeonNumberReleaseTime_routeIndex[i]['index'];
                        }
                    }
                    if(route_index>=0)
                    {
                        // console.log(routes_origin[route_index]);
                        func_update_chart_canvas_speed_elevation_forFilterRoutes(routes_origin[route_index]);
                        chart_canvas_speed_elevation_forFilterRoutes_curRouteIndex = route_index;
                    }
                    console.log(pigeonNumber,release_time,route_index);
                //    
                }
                // row.addEventListener('dblclick',func_cb_row);
                table_pigeonNumber_body.appendChild(row);
            }
    }

      func_multiRoutes_realtimeDistance_plot();
      function func_multiRoutes_realtimeDistance_plot() {    
          var test_demo_data = routes_origin;
       
          func_multiRoutes_realTimeDistance();
          function func_multiRoutes_realTimeDistance() {
            //normalize routes
            var normalized_multiroutes = [];
            for (var i = 0; i < test_demo_data.length; i++) {
                var normalized_route = [];
                for (var j = 0; j < test_demo_data[i].length; j++) {
                    // normalized_route.push([test_demo_data[i][j]['latitude'], test_demo_data[i][j]['longitude']]);
                    normalized_route.push([test_demo_data[i][j]['longitude'], test_demo_data[i][j]['latitude']]);
                }
                normalized_multiroutes.push(normalized_route);
            }
            func_multiRoutes_realTimeDistance_twolines();
            //   step1：採集所有路徑的時間點；
            // step2：計算每個時間點中，所有時間點的路徑之間的距離；
            function func_multiRoutes_realTimeDistance_twolines() {
                //get timestamp of first two routes
                var index_sameTime = [];
                func_getTimeStamps();
                //same time < 3 s
                function func_getTimeStamps() {

                    for (var i = 0; i < test_demo_data[0].length; i++) {
                        var date_first = new Date(test_demo_data[0][i]['time']);
                        var date_second = new Date(test_demo_data[1][i]['time']);
                        var time_diff = date_first.getTime() - date_second.getTime();
                        if (time_diff < 3) {
                            index_sameTime.push(i);
                        }
                        // console.log(test_demo_data[0][i]['time'],test_demo_data[1][i]['time']);
                    }
                }

                var distances_byTimeStamp = [];
                var distance_baseline = [];
                var data_x = [];
                func_distancesAtSameTime();
                function func_distancesAtSameTime() {
                    for (var i = 0; i < index_sameTime.length; i++) {
                        var index = index_sameTime[i];
                        var point_first = turf.point(normalized_multiroutes[0][index]);
                        var point_sencod = turf.point(normalized_multiroutes[1][index])
                        var dis = turf.distance(point_first, point_sencod, { units: 'kilometers' });
                        distances_byTimeStamp.push(dis.toFixed(3));
                        distance_baseline.push(0.3);
                        data_x.push(test_demo_data[0][index]['time']);
                    }
                }

                func_draw_line();

                function func_draw_line() {
                    //set options
                    var options = {
                        series: [{
                            name: "即時距離(km)",
                            data: distances_byTimeStamp
                        },
                        {
                            name: "baseline",
                            data: distance_baseline
                        }
                        ],
                        chart: {
                            type: 'line',
                            zoom: {
                                enabled: false
                            }
                        },
                        colors: ['#77B6EA', '#545454'],
                        dataLabels: {
                            enabled: false
                        },
                        labels: data_x,
                        stroke: {
                            curve: 'straight'
                        },
                        title: {
                            text: '即時距離(km)',
                            align: 'middle'
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        // xaxis: {
                        //   categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                        // }
                    };
                    var canvas_routeEff_Polyline_plot = document.getElementById('canvas_realtimeDistance_plot');
                    var chart = new ApexCharts(canvas_routeEff_Polyline_plot, options);
                    chart.render();
                }
                //set baseline 
                var baseLine = turf.lineString(normalized_multiroutes[0]);
                for (var i = 1; i < 2; i++) {
                    var point_distances = [];
                    for (var j = 0; j < normalized_multiroutes[i].length; j++) {
                        var pt = turf.point(normalized_multiroutes[i][j]);
                        var distance = turf.pointToLineDistance(pt, baseLine, { units: 'kilometers' });
                        point_distances.push(distance.toFixed(4));
                    }
                    // console.log(baseLine);
                    console.log(point_distances);
                    //draw in plot
                    // func_draw_line();

                    function func_draw_line() {
                        //set chart
                        var canvas_routeSimilarity_similaritylineplot = document.createElement('div');
                        canvas_routeSimilarity_similaritylineplot.style.width = '50%';
                        canvas_routeSimilarity_similaritylineplot.style.height = '50%';
                        canvas_routeSimilarity_similaritylineplot.setAttribute("id", "canvas_routeSimilarity_similaritylineplot");
                        canvas_routeSimilarity_similaritylineplot.style.left = "50%";
                        // console.log((250+(i-1)*50).toString(10));
                        canvas_routeSimilarity_similaritylineplot.style.top = "370%";
                        canvas_routeSimilarity_similaritylineplot.style.position = "absolute";
                        document.body.appendChild(canvas_routeSimilarity_similaritylineplot);

                        function showInMap(path, color) {
                            var path_normalize = [];
                            for (var i = 0; i < path.length; i++) {
                                var cell = [];
                                cell.push(path[i][0]);
                                cell.push(path[i][1]);
                                path_normalize.push(cell);
                            }
                            console.log(path_normalize.length);

                            map_handler.setView(path_normalize[Math.floor(path_normalize.length / 2)], 9)
                            // map_handler.setView(path_normalize[0], 10)

                            var baseLine = [path_normalize[0], path_normalize[path_normalize.length - 1]];
                            console.log(baseLine.length);
                            L.polyline(baseLine, { color: 'green', weight: '1' }).addTo(map_handler);
                            var polyline_origin = L.polyline(path_normalize, { color: color, weight: '1' }).addTo(map_handler);
                        }
                    }
                }

            }
        } 
      }
    </script>
</body>