<!DOCTYPE html>
<html>

<head>
    <title>路徑分析器-路徑關聯分析-同批次</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        th,
        td {
            padding: 10px 20px;
            border: 1px solid #000;
        }
    </style>
</head>

<body>
    <input id="fileUploader" type="file" multiple='multiple' accept=".gpx" />
    <script>
        class UI_allUiElementsManagement {
            constructor() {
                // this.buttons = [];
            }
            //id: string
            //style:{'background-color','opacity','position','bottom','left','right','top','width','height','border-radius','color','text',}
            //text:string ,callback: function
            Add_button(id, style, text) {
                if (document.getElementById(id)) {
                    console.log('add button error', id, 'already exist');
                }
                console.log('add button');
                var tmp_button = document.createElement('button');
                tmp_button.setAttribute('id', id);
                // tmp_button.setAttribute('style',style);

                tmp_button.style.bottom = style['bottom'];
                tmp_button.style.left = style['left'];
                tmp_button.style.position = style['position'];
                tmp_button.style['text-align'] = style['text-align'];
                tmp_button.style.height = style['height'];
                tmp_button.style['border-radius'] = style['border-radius'];
                tmp_button.style['width'] = style['width'];
                tmp_button.style.backgroundColor = style['backgroundColor'];
                // tmp_button.style.opacity = "0.5";
                tmp_button.style.color = style['color'];

                tmp_button.innerHTML = text;
                // console.log(tmp_button.style);
                // console.log(tmp_button.getAttribute('style'));

                // this.buttons.push(tmp_button);
                document.body.appendChild(tmp_button);
                return tmp_button;
            }
            Add_CallBack(id, callback) {
                var tmp_button = document.getElementById(id);
                if (tmp_button) {
                    tmp_button.addEventListener('click', callback);
                }
                else {
                    console.log('find button error', id, 'not exist');
                }
            }

            AddElement_Select(id, style, size, options = []) {
                var ele = document.createElement('select');
                ele.setAttribute('id', id);
                ele.setAttribute('size', size);

                ele.style.bottom = style['bottom'];
                ele.style.left = style['left'];
                ele.style.position = style['position'];
                ele.style.height = style['height'];
                ele.style['width'] = style['width'];

                if (options) {
                    for (var i = 0; i < options.length; i++) {
                        var opt = document.createElement('option');
                        opt.value = options[i][0];
                        opt.innerHTML = options[i][1];
                        ele.appendChild(opt);
                    }
                }

                document.body.appendChild(ele);
                return ele;
            }

            //text input
            AddElement_TextInput(id, style, text) {
                if (document.getElementById(id)) {
                    console.log('add element error', id, 'already exist');
                }

                var ele = document.createElement('input');

                ele.style.bottom = style['bottom'];
                ele.style.left = style['left'];
                ele.style.position = style['position'];
                ele.style['text-align'] = style['text-align'];
                ele.style.height = style['height'];
                ele.style['border-radius'] = style['border-radius'];
                ele.style['width'] = style['width'];
                ele.style.backgroundColor = style['backgroundColor'];
                // tmp_button.style.opacity = "0.5";
                ele.style.color = style['color'];

                // ele.innerHTML = text;
                ele.setAttribute('placeholder', text);

                // this.buttons.push(tmp_button);
                document.body.appendChild(ele);
                return ele;
            }

            AddElement_AddSubmit(id, style, text) {
                if (document.getElementById(id)) {
                    console.log('add element error', id, 'already exist');
                }

                var ele = document.createElement('input');
                ele['type'] = 'submit';

                ele.style.bottom = style['bottom'];
                ele.style.left = style['left'];
                ele.style.position = style['position'];
                ele.style['text-align'] = style['text-align'];
                ele.style.height = style['height'];
                ele.style['border-radius'] = style['border-radius'];
                ele.style['width'] = style['width'];
                // canvas.style.border   = "1px solid";
                ele.style.backgroundColor = style['backgroundColor'];
                // tmp_button.style.opacity = "0.5";
                ele.style.color = style['color'];
                // canvas.style.color = 'black';

                ele.innerHTML = text;
                // console.log(ele.style);
                // console.log(ele.getAttribute('style'));

                // this.buttons.push(tmp_button);
                document.body.appendChild(ele);
                return ele;
            }

            CreateElement_Label(id, style, text = '') {
                if (document.getElementById(id)) {
                    console.log('add button error', id, 'already exist');
                }
                console.log('add label');
                var tmp_label = document.createElement('label');
                tmp_label.setAttribute('id', id);
                // tmp_button.setAttribute('style',style);

                tmp_label.style.bottom = style['bottom'];
                tmp_label.style.left = style['left'];
                tmp_label.style.position = style['position'];
                tmp_label.style['text-align'] = style['text-align'];
                tmp_label.style.height = style['height'];
                tmp_label.style['border-radius'] = style['border-radius'];
                tmp_label.style['width'] = style['width'];
                tmp_label.style.backgroundColor = style['backgroundcolor'];
                // tmp_button.style.opacity = "0.5";
                tmp_label.style.color = style['color'];
                // canvas.style.color = 'black';

                tmp_label.innerHTML = text;
                // console.log(tmp_button.style);
                // console.log(tmp_button.getAttribute('style'));

                // this.buttons.push(tmp_button);
                // document.body.appendChild(tmp_label);
                return tmp_label;
            }

            AddElement_Label(id, style, text = '') {
                if (document.getElementById(id)) {
                    console.log('add button error', id, 'already exist');
                }
                console.log('add label');
                var tmp_label = document.createElement('label');
                tmp_label.setAttribute('id', id);
                // tmp_button.setAttribute('style',style);

                tmp_label.style.bottom = style['bottom'];
                tmp_label.style.left = style['left'];
                tmp_label.style.position = style['position'];
                tmp_label.style['text-align'] = style['text-align'];
                tmp_label.style.height = style['height'];
                tmp_label.style['border-radius'] = style['border-radius'];
                tmp_label.style['width'] = style['width'];
                // canvas.style.border   = "1px solid";
                // console.log(style['backgroundcolor']);
                tmp_label.style.backgroundColor = style['backgroundcolor'];
                // tmp_button.style.opacity = "0.5";
                tmp_label.style.color = style['color'];
                // canvas.style.color = 'black';

                tmp_label.innerHTML = text;
                // console.log(tmp_button.style);
                // console.log(tmp_button.getAttribute('style'));

                // this.buttons.push(tmp_button);
                document.body.appendChild(tmp_label);
                return tmp_label;
            }

            CreateElement_Div(id, style) {
                if (document.getElementById(id)) {
                    console.log('add div error', id, 'already exist');
                }
                console.log('add div');
                var tmp_div = document.createElement('div');
                tmp_div.setAttribute('id', id);
                // tmp_button.setAttribute('style',style);

                tmp_div.style.bottom = style['bottom'];
                tmp_div.style.left = style['left'];
                tmp_div.style.position = style['position'];
                tmp_div.style.height = style['height'];
                tmp_div.style['width'] = style['width'];
                tmp_div.style.backgroundColor = style['backgroundcolor'];
                // tmp_div.style.color = style['color'];

                return tmp_div;
            }

            AddElement_Div(id, style) {
                if (document.getElementById(id)) {
                    console.log('add div error', id, 'already exist');
                }
                console.log('add div');
                var tmp_div = document.createElement('div');
                tmp_div.setAttribute('id', id);
                // tmp_button.setAttribute('style',style);

                tmp_div.style.bottom = style['bottom'];
                tmp_div.style.left = style['left'];
                tmp_div.style.position = style['position'];
                tmp_div.style.height = style['height'];
                tmp_div.style['width'] = style['width'];
                tmp_div.style.backgroundColor = style['backgroundcolor'];
                // tmp_div.style.color = style['color'];
                document.body.appendChild(tmp_div);

                return tmp_div;
            }
        };
        let ui_manager = new UI_allUiElementsManagement();

        class PathMangement {
            //paths: [{name: '', data: ''}]
            constructor() {
                //parse gpx files
                this.paths = [];
                this.originalPaths = [];
                this.originPolygon = [];
                // var bbox = turf.bbox(features);
                //alter path to polygons
            }
            decodePath(paths) {
                //decode path to polygon
                // console.log(paths[0]['data']);
                var parser = new DOMParser();
                for (var index = 0; index < paths.length; index++) {
                    var xmlDoc = parser.parseFromString(paths[index]['data'], 'text/xml');
                    // console.log(xmlDoc.getElementsByTagName("title"));
                    // console.log(xmlDoc.getElementsByTagName("trkpt"));
                    var path = [];
                    var trkpts = xmlDoc.getElementsByTagName("trkpt");
                    for (var i = 0; i < trkpts.length; i++) {
                        var cell = {};
                        var lat = trkpts[i].getAttribute("lat");
                        var lon = trkpts[i].getAttribute("lon");
                        cell['lat'] = lat;
                        cell['lon'] = lon;
                        path.push(cell);
                        // console.log(i,'lat: '+lat+' lon: '+lon);
                    }
                    this.originalPaths.push({ name: paths[index]['name'], data: path });
                }
                console.log(this.paths.length);
                // return this.paths;
            }
            decodePath_timeSpeedDistance(paths) {
                //decode path to polygon
                // console.log(paths[0]['data']);
                var parser = new DOMParser();
                for (var index = 0; index < paths.length; index++) {
                    var xmlDoc = parser.parseFromString(paths[index]['data'], 'text/xml');
                    // console.log(xmlDoc.getElementsByTagName("title"));
                    // console.log(xmlDoc.getElementsByTagName("trkpt"));
                    var path = [];
                    var trkpts = xmlDoc.getElementsByTagName("trkpt");
                    var total_dis = 0;
                    console.log(trkpts.length);
                    for (var i = 0; i < trkpts.length; i++) {
                        var cell = {};
                        var lat = trkpts[i].getAttribute("lat");
                        var lon = trkpts[i].getAttribute("lon");
                        cell['lat'] = lat;
                        cell['lon'] = lon;
                        for (var j = 0; j < trkpts[i].childNodes.length; j++) {
                            if (trkpts[i].childNodes[j].nodeName === 'time') {
                                // console.log(trkpts[i].childNodes[j].innerHTML);
                                cell['time'] = trkpts[i].childNodes[j].innerHTML;
                            }

                            if (trkpts[i].childNodes[j].nodeName === 'speed') {
                                // console.log(trkpts[i].childNodes[j].innerHTML);
                                // console.log(trkpts[i].childNodes[j])
                                cell['speed'] = trkpts[i].childNodes[j].innerHTML;
                            }

                            if (trkpts[i].childNodes[j].nodeName === 'distance') {
                                // console.log(trkpts[i].childNodes[j].innerHTML);
                                // console.log(trkpts[i].childNodes[j])
                                cell['distance'] = trkpts[i].childNodes[j].innerHTML;
                                total_dis += parseFloat(cell['distance']);
                            }                     
                        }
                        path.push(cell);

                        // console.log(i,'lat: '+lat+' lon: '+lon);
                        // console.log(i,cell['distance']);
                    }
                    console.log(total_dis,path.length);
                    this.originalPaths.push({ name: paths[index]['name'], data: path });
                }
                console.log(this.paths.length);
                
                // return this.paths;
            }

            GetOringinalPaths() {
                return this.originalPaths;
            }
            GetOringinalPathsByPathNames(pathNames) {
                var result = [];
                for (var i = 0; i < this.originalPaths.length; i++) {
                    if (pathNames.includes(this.originalPaths[i]['name'])) {
                        result.push(this.originalPaths[i]);
                    }
                }
                console.log(result.length);
                return result;
            }

            Rename_path(oldname, newname) {
                for (var index = 0; index < this.paths.length; index++) {
                    if (this.paths[index]['name'] == oldname) {
                        this.paths[index]['name'] = newname;
                    }
                }
            }

            GetPathByName(name) {
                for (var index = 0; index < this.paths.length; index++) {
                    if (this.paths[index]['name'] == name) {
                        return this.paths[index]['data'];
                    }
                }
            }

            make_polygon(path) {
                var polygon = [];
                for (var i = 0; i < path.length - 1; i++) {
                    var firstPoint = turf.point(path[i]);
                    var secondPoint = turf.point(path[i + 1]);
                    var bearing = turf.bearing(firstPoint, secondPoint);
                    // console.log(bearing);
                    var makePoint_first_bearing = bearing + 90;
                    var makePoint_second_bearing = bearing - 90;
                    var makePoint_first = turf.destination(firstPoint, 1000, makePoint_first_bearing, { units: 'meters' });
                    var makePoint_second = turf.destination(firstPoint, 1000, makePoint_second_bearing, { units: 'meters' });
                    // console.log(makePoint_first.geometry.coordinates,makePoint_second.geometry.coordinates)
                    polygon.unshift(makePoint_first.geometry.coordinates);
                    polygon.push(makePoint_second.geometry.coordinates);
                }

                var firstPoint = turf.point(path[path.length - 2]);
                var secondPoint = turf.point(path[path.length - 1]);
                var bearing = turf.bearing(firstPoint, secondPoint);
                // console.log(bearing);
                var makePoint_first_bearing = bearing + 90;
                var makePoint_second_bearing = bearing - 90;
                var makePoint_first = turf.destination(firstPoint, 1000, makePoint_first_bearing, { units: 'meters' });
                var makePoint_second = turf.destination(firstPoint, 1000, makePoint_second_bearing, { units: 'meters' });
                // console.log(makePoint_first.geometry.coordinates,makePoint_second.geometry.coordinates)
                polygon.unshift(makePoint_second.geometry.coordinates);
                polygon.push(makePoint_first.geometry.coordinates);

                // console.log(path.length,polygon.length);
                return polygon;
            }

            AddOriginPolygon(pathName, polygon) {
                this.originPolygon.push({ name: pathName, data: polygon });
            }

            GetOriginPolygon(pathName) {
                for (var index = 0; index < this.originPolygon.length; index++) {
                    if (this.originPolygon[index]['name'] == pathName) {
                        return this.originPolygon[index]['data'];
                    }
                }
                console.log('no such path');
            }
            GetAllPathNames() {
                var result = [];
                for (var i = 0; i < this.paths.length; i++) {
                    result.push(this.paths[i]['name']);
                }
                return result;
            }
            RemovePathByNames(pathNames) {
                console.log('delete path:', pathNames);
                for (var i = 0; i < this.paths.length; i++) {
                    console.log(this.paths[i]['name']);
                    if (pathNames.includes(this.paths[i]['name'])) {
                        this.paths.splice(i, 1);
                        this.originalPaths.splice(i, 1);
                        this.originPolygon.splice(i, 1);
                        // console.log(this.paths);
                        i--;
                    }
                }
                // console.log(this.paths);

            }
        }

        ////load gpx files and show them in the page
        let pathManger = new PathMangement();

        var fileUploader = document.getElementById("fileUploader");
        fileUploader.style['position'] = 'absolute';;
        fileUploader.style['top'] = '5%';
        fileUploader.style['left'] = '5%';

        //用來讀取file資料的FileReader
        var fileReader = new FileReader();
        //監控#fileUploader的值變化
        fileUploader.addEventListener("change", function (event) {
            if (this.files.length > 0) {
                //有選取file時，使用fileReader讀取file資料
                // console.log(fileReader.readAsText(this.files[0]));
                //讀取完成後，將資料轉成text
                console.log(this.files.length);
                readmultifiles(this.files)
            } else {
                //沒有選取file時，例如選擇取消，
                //將<img>的src設成""
            }
        }, false);

        function readmultifiles(files) {
            var gpxFileDatas = [];
            function readFile(index) {
                //when all files loaded , start to decode datas
                if (index >= files.length) {
                    var filtered_gpxFileDatas = [];
                    var newPathNames = [];
                    console.log(gpxFileDatas);
                    for (var index_gpxData = 0; index_gpxData < gpxFileDatas.length; index_gpxData++) {
                        filtered_gpxFileDatas.push(gpxFileDatas[index_gpxData]);
                        newPathNames.push(gpxFileDatas[index_gpxData]['name']);
                    }
                    console.log(newPathNames);
                    pathManger.decodePath_timeSpeedDistance(filtered_gpxFileDatas);
                    func_sendRequest_makeSingleRouteAnalysis(pathManger.GetOringinalPathsByPathNames(newPathNames));
                    // console.log(gpxFileDatas);
                    // pathManger.decodePath(gpxFileDatas);
                    // func_sendRequest_makePolygonByOldCalculater(pathManger.GetOringinalPaths());
                    return;
                }

                // store file name and file content to gpxFileDatas
                var gpxFileDatas_ele = {};
                /// path name init from file name
                gpxFileDatas_ele['name'] = files[index].name.split('.')[0];
                // /// add path name to pathNameList
                // var opt = document.createElement('option');
                // opt.value = gpxFileDatas_ele['name'];
                // opt.innerHTML = gpxFileDatas_ele['name'];
                // pathNameList.appendChild(opt);

                // fileList.innerHTML += "<br>" + files[index].name.split('.')[0] + "</br>";

                var file = files[index];
                fileReader.onload = function (e) {
                    // get file content  
                    var data = e.target.result;
                    // console.log(data);
                    gpxFileDatas_ele['data'] = data;
                    gpxFileDatas.push(gpxFileDatas_ele);
                    // do sth with bin
                    readFile(index + 1)
                }
                fileReader.readAsText(file);
            }
            readFile(0);
        }

        function func_sendRequest_makeSingleRouteAnalysis(paths) {
            //make paths to str
            // console.log('origin paths', paths);
            function path_normalize_timeToCount(timeSpeed) {
                console.log(timeSpeed.length)
                var result = [];
                var baseTime = new Date(timeSpeed[0]['time']).getTime();
                for (var i_timeSpeed = 0; i_timeSpeed < timeSpeed.length; i_timeSpeed++) {
                    // console.log(timeSpeed[i]['time']);
                    // console.log(new Date(timeSpeed[i]['time']).getTime()/1000);
                    result.push({
                        // 'lat' : timeSpeed[i]['lat'],
                        // 'lon':timeSpeed[i]['lon'],
                        'time': ((new Date(timeSpeed[i_timeSpeed]['time'])).getTime() - baseTime) / 1000,
                        'speed': timeSpeed[i_timeSpeed]['speed'],
                        // 'distance': timeSpeed[i]['distance'],
                    });
                    console.log(((new Date(timeSpeed[i_timeSpeed]['time'])).getTime() - baseTime)/1000);
                }
                console.log(result.length)
                return result;
            }

            //timeSpan is second
            function path_normalize_sameTimeSpan(timeSpeed, timeSpan = 180) {
                var result = [];
                var referencePoint = timeSpeed[0];
                result.push(referencePoint);

                for (var i = 1; i < timeSpeed.length; i++) {
                    console.log(timeSpeed[i]['time'] - referencePoint['time']);
                    // console.log(new Date(timeSpeed[i]['time']));
                    if (timeSpeed[i]['time'] - referencePoint['time'] < timeSpan) {
                        continue;
                    }
                    else {
                        referencePoint = timeSpeed[i];
                        result.push(referencePoint);
                    }
                }
                return result;
            }

            for (var i = 0; i < paths.length; i++) {
                var pathname = paths[i]['name'];
                // if(old_pathNames.includes(pathname))
                // {
                //     continue;
                // }
                var plot_time = [];
                var plot_speed = [];

                var path = paths[i]['data'];
                // console.log(path);
                var path_normalized = path_normalize_timeToCount(path);
                var path_sendToServer = [];
                // var path_sendToServer_routeEff = [];
                var totalDistance_sendToServer = 0;
                var time_sendToServer = path_normalized[path_normalized.length - 1]['time'];
                for (var j = 0; j < path_normalized.length; j++) {
                    path_sendToServer.push(path_normalized[j]['time']);
                    path_sendToServer.push(path_normalized[j]['speed']);
                    path_sendToServer.push(path[j]['lat']);
                    path_sendToServer.push(path[j]['lon']);
                    path_sendToServer.push(path[j]['distance']);
                    // console.log(j,path[j]['distance']);
                    totalDistance_sendToServer += parseFloat(path[j]['distance']);

                    // plot_time.push(path[j]['time']);
                    plot_speed.push(path[j]['speed']);
                }
                console.log('dis:',totalDistance_sendToServer);

                updateChart_changeRoute(pathname, path_normalized.length, plot_speed);

                var str_paths = time_sendToServer.toString() + ',' + totalDistance_sendToServer.toString() + ',' + path_sendToServer.toString();
                // console.log(pathname, str_paths.length);
                //send to servers
                function reqListener() {
                    // console.log(typeof (this.responseText), typeof (this.response));
                    // console.log(this)

                    var response = JSON.parse(this.responseText);
                    // console.log(response);

                    var res_result = decodeURI(response['result'])
                    if (res_result === 'success') {
                        var res_pathname = decodeURI(response['routename']);
                        var num_average = response['num_average'];
                        // var num_median = response['num_median'];
                        var num_min = response['num_min'];
                        var num_max = response['num_max'];
                        var num_efficiency = response['num_efficiency'];
                        console.log('result:', num_average,num_efficiency);

                        func_table_result_addData(res_pathname, num_average, 0, num_min, num_max,num_efficiency);
                        updateChart_changeRoute_bar(res_pathname, num_max, num_min,num_average,num_efficiency);
                    }
                }

                var oReq = new XMLHttpRequest();
                oReq.addEventListener("load", reqListener);
                // oReq.open("GET", 'decodePathLine_toPolygon' + '/' + pathname + '/' + str_paths);
                oReq.open("post", 'multiPigeon_sameSession' + '/' + pathname + '/' + pathname);
                // const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
                oReq.setRequestHeader("X-CSRFToken", '{{ csrf_token|safe }}');
                // oReq.setRequestHeader("Content-Type", "text/plain;charset=UTF-8");   
                oReq.send(str_paths);
            }
        }

        //set speed plot
        // let label_speedPlot = ui_manager.AddElement_Label('label_speedPlot', { 'position': 'absolute', 'bottom': '80%', 'left': '10%', 'width': '20%' }, '速度分析');

        let canvas_SpeedPlot = document.createElement('canvas');
        canvas_SpeedPlot.setAttribute("width", '400px');
        canvas_SpeedPlot.setAttribute("height", '400px');
        canvas_SpeedPlot.setAttribute("id", "canvas_SpeedPlot");
        canvas_SpeedPlot.style.left = "10%";
        canvas_SpeedPlot.style.bottom = "10%";
        canvas_SpeedPlot.style.position = "absolute";
        // canvas.style['margin-left'] = '-200px';
        // canvas.style.border   = "1px solid";
        // canvas.style.backgroundColor = 'transparent';
        document.body.appendChild(canvas_SpeedPlot);


        const myChart_SpeedPlot = new Chart(canvas_SpeedPlot, {
            type: 'line',
            data: {
                labels: [],
                datasets: [],
            },
            options: {
                responsive: false,
                title: {
                    display: true,
                    text: '速度分布'
                },
                // legend: { display: false },
                elements: {
                    point: {
                        radius: 0
                    }
                },
                scales: {
                    yAxes: [{
                        beginAtZero: true,
                        fontSize: 0,
                        padding: 1,
                        gridLines: {
                            display: false
                        },
                    }],
                    xAxes: [{
                        // beginAtZero: true,
                        // fontSize: 0,
                        // ticks: {
                        //     fontColor: "#000",
                        //     fontSize: 0
                        // },
                        gridLines: {
                            display: false
                        },
                        padding: 1,
                        // display:false,
                        // position:'bottom',
                    }],
                },
            }
            // options: {
            //     responsive: true,
            //     plugins: {
            //         legend: {
            //             position: 'top',
            //         },
            //         title: {
            //             display: true,
            //             text: '速度分布'
            //         }
            //     }
            // },
        });
        // init char color
        let color_Chart = ['red', 'yellow', 'blue', 'green', 'black', 'purple', 'orange', 'brown', 'pink', 'gray', 'cyan', 'indigo', 'teal', 'lime', 'lavender', 'maroon', 'navy', 'olive', 'silver', 'teal', 'violet', 'wheat', 'yellowgreen'];

        function updateChart_changeRoute(routeName, data_time, data_speed) {
            if (myChart_SpeedPlot) {
                console.log(myChart_SpeedPlot.data.datasets.length);
                //set color
                let color_index = myChart_SpeedPlot.data.datasets.length;
                if (color_index >= color_Chart.length) {
                    color_index = color_index % color_Chart.length;
                }
                console.log(data_speed.length);

                var newDataSet = {
                    label: routeName,
                    data: data_speed,
                    // type: 'line',
                    backgroundColor: 'transparent',
                    fill: false,
                    borderColor: color_Chart[color_index],
                    // backgroundColor: Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
                }
                console.log('new label length is ', data_time);
                var old_labels = myChart_SpeedPlot.data.labels;
                if (old_labels.length < data_time) {
                    ///make list
                    new_labels = [];
                    for (var i = 0; i < data_time; i++) {
                        new_labels.push(i);
                    }
                    myChart_SpeedPlot.data.labels = new_labels;
                }

                myChart_SpeedPlot.data.datasets.push(newDataSet);
                myChart_SpeedPlot.update();
            }
        }

        let canvas_SpeedPlot_bar = document.createElement('canvas');
        canvas_SpeedPlot_bar.setAttribute("width", '400px');
        canvas_SpeedPlot_bar.setAttribute("height", '400px');
        canvas_SpeedPlot_bar.setAttribute("id", "canvas_SpeedPlot_bar");
        canvas_SpeedPlot_bar.style.left = "10%";
        canvas_SpeedPlot_bar.style.top = "100%";
        canvas_SpeedPlot_bar.style.position = "absolute";
        // canvas.style['margin-left'] = '-200px';
        // canvas.style.border   = "1px solid";
        // canvas.style.backgroundColor = 'transparent';
        document.body.appendChild(canvas_SpeedPlot_bar);

        const myChart_SpeedPlot_bar = new Chart(canvas_SpeedPlot_bar, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [
                    {
                        label: '速度',
                        data: [],
                        backgroundColor: 'rgba(124,252,0,0.2)',
                        borderColor: 'rgb(124,252,0)',
                        borderWidth: 1,
                        borderSkip: false,
                        stack: 'combined',
                    },
                    {
                        label: '平均速度',
                        data: [],
                        borderColor: 'blue',
                        backgroundColor: 'transparent',
                        fill: false,
                        stack: 'combined',
                        type: 'line'
                    },
                    {
                        label: '路徑效率',
                        data: [],
                        borderColor: 'red',
                        backgroundColor: 'transparent',
                        fill: false,
                        stack: 'combined',
                        type: 'line'
                    },
                ]
            },
            options: {
                responsive: false,
                legend: {
                    position: 'top',
                },
                title: {
                    display: false,
                    text: '速度'
                },
                // legend: { display: false },
                // elements: {
                //     point: {
                //         radius: 0
                //     }
                // },

                scales: {
                    y: {
                        stacked: true
                    },
                    yAxes: [{
                        beginAtZero: true,
                        fontSize: 0,
                        padding: 1,
                        gridLines: {
                            display: false
                        },
                    }],
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        padding: 1,
                        // display:false,
                        // position:'bottom',
                    }],
                },
            }
        });
        function updateChart_changeRoute_bar(routeName, speed_max, speed_min,speed_avarage,num_efficiency) {
            console.log(speed_max, speed_min);
            if (canvas_SpeedPlot_bar) {
                console.log(myChart_SpeedPlot_bar.data.datasets[0].data.length);
                //set color
                let color_index = myChart_SpeedPlot_bar.data.datasets[0].data.length;
                if (color_index >= color_Chart.length) {
                    color_index = color_index % color_Chart.length;
                }
                console.log(myChart_SpeedPlot_bar.data.labels);
                myChart_SpeedPlot_bar.data.labels.push(routeName);

                myChart_SpeedPlot_bar.data.datasets[0].data.push([speed_max, speed_min]);
                // console.log(myChart_SpeedPlot_bar.data.datasets[0].data);
                // myChart_SpeedPlot_bar.data.datasets[0].backgroundColor.push(color_Chart[color_index]);
                // myChart_SpeedPlot_bar.data.datasets[0].borderColor.push(color_Chart[color_index]);

                myChart_SpeedPlot_bar.data.datasets[1].data.push(speed_avarage);
                // console.log(num_efficiency);
                myChart_SpeedPlot_bar.data.datasets[2].data.push(num_efficiency*10);

                myChart_SpeedPlot_bar.update();
                // myChart_SpeedPlot_bar.data.datasets.push(tmp_dataset);
                // myChart_SpeedPlot_bar.update();
            }
        }

        //set speed result
        let label_result = ui_manager.AddElement_Label('label_result', { 'position': 'absolute', 'bottom': '80%', 'left': '60%', 'width': '20%' }, '分析结果');
        let table_result = document.createElement('table');
        let thead_result = document.createElement('thead');
        let tbody_result = document.createElement('tbody');

        table_result.setAttribute("id", "table_result");
        table_result.style.left = "60%";
        table_result.style.top = "30%";
        table_result.style.position = "absolute";

        table_result.appendChild(thead_result);
        table_result.appendChild(tbody_result);

        // Adding the entire table to the body tag
        document.body.appendChild(table_result);

        // Creating and adding data to first row of the table
        function func_init_table_result_head() {
            let row_1 = document.createElement('tr');
            let heading_0 = document.createElement('th');
            heading_0.innerHTML = "名稱";
            let heading_1 = document.createElement('th');
            heading_1.innerHTML = "平均(m/s)";
            let heading_2 = document.createElement('th');
            heading_2.innerHTML = "中位(m/s)";
            let heading_3 = document.createElement('th');
            heading_3.innerHTML = "最低(m/s)";
            let heading_4 = document.createElement('th');
            heading_4.innerHTML = "最高(m/s)";
            let heading_5 = document.createElement('th');
            heading_5.innerHTML = "路徑效率";

            row_1.appendChild(heading_0);
            row_1.appendChild(heading_1);
            // row_1.appendChild(heading_2);
            row_1.appendChild(heading_3);
            row_1.appendChild(heading_4);
            row_1.appendChild(heading_5);
            thead_result.appendChild(row_1);
        }
        func_init_table_result_head();

        function func_table_result_addData(routeName, num_average, num_median, num_min, num_max,num_efficiency) {
            // console.log(routeName,num_average, num_median, num_min, num_max);
            var row = document.createElement('tr');
            var row_data_routeName = document.createElement('td');
            row_data_routeName.innerHTML = routeName;
            var row_data_avarage = document.createElement('td');
            row_data_avarage.innerHTML = (num_average.toFixed(3)).toString();
            var row_data_midian = document.createElement('td');
            row_data_midian.innerHTML = num_median.toString();
            var row_data_min = document.createElement('td');
            row_data_min.innerHTML = num_min.toString();
            var row_data_max = document.createElement('td');
            row_data_max.innerHTML = num_max.toString();
            var row_data_effi = document.createElement('td');
            row_data_effi.innerHTML = num_efficiency.toFixed(3).toString();

            row.appendChild(row_data_routeName);
            row.appendChild(row_data_avarage);
            // row.appendChild(row_data_midian);
            row.appendChild(row_data_min);
            row.appendChild(row_data_max);
            row.appendChild(row_data_effi);
            tbody_result.appendChild(row);
        }
    // func_table_result_addData(1, 1, 1, 1);

    </script>
</body>

</html>