<!DOCTYPE html>
<html>

<head>
    <title>禁航區管理</title>
    <script>  src = 'https://cdnjs.cloudflare.com/ajax/libs/fast-xml-parser/4.0.8/fxparser.js'</script>
    <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
    <!-- <canvas id="myChart_PigeonInfos" width="200" height="100"></canvas> -->
    <input id="fileUploader" type="file" multiple="multiple" />
    <!-- <div>數據預覽：</div> -->
    <!-- <div id="fileList"></div> -->
    <select id="pathNameList" size=20 multiple></select>
    <br></br>
    <input id='pathNameAlter_text' type='text' />
    <br></br>
    <input id='pathNameAlter_button_pre' type='button' value='新增前綴' />
    <input id='pathNameAlter_button_end' type='button' value='新增後綴' />
    <script>
        class PathMangement {
            //paths: [{name: '', data: ''}]
            constructor() {
                //parse gpx files
                this.paths = [];
                this.originalPaths = [];
                this.originPolygon = [];
                // var bbox = turf.bbox(features);
                //alter path to polygons
            }
            decodePath(paths) {
                //decode path to polygon
                // console.log(paths[0]['data']);
                var parser = new DOMParser();
                for (var index = 0; index < paths.length; index++) {
                    var xmlDoc = parser.parseFromString(paths[index]['data'], 'text/xml');
                    // console.log(xmlDoc.getElementsByTagName("title"));
                    // console.log(xmlDoc.getElementsByTagName("trkpt"));
                    var path = [];
                    var trkpts = xmlDoc.getElementsByTagName("trkpt");
                    for (var i = 0; i < trkpts.length; i++) {
                        var cell = {};
                        var lat = trkpts[i].getAttribute("lat");
                        var lon = trkpts[i].getAttribute("lon");
                        cell['lat'] = lat;
                        cell['lon'] = lon;
                        path.push(cell);
                        // console.log(i,'lat: '+lat+' lon: '+lon);
                    }
                    ///filter path by one kilometer
                    var path_line = this.filter_pathByOneKilo(path);
                    /// make path_polygon by path_line
                    var polygon = this.make_polygon(path_line);

                    this.paths.push({ name: paths[index]['name'], data: polygon });
                    this.originalPaths.push({ name: paths[index]['name'], data: path });
                }
                console.log(this.paths.length);
                // return this.paths;
            }

            GetOringinalPaths() {
                return this.originalPaths;
            }

            Rename_path(oldname, newname) {
                for (var index = 0; index < this.paths.length; index++) {
                    if (this.paths[index]['name'] == oldname) {
                        this.paths[index]['name'] = newname;
                    }
                }
            }

            GetPathByName(name) {
                for (var index = 0; index < this.paths.length; index++) {
                    if (this.paths[index]['name'] == name) {
                        return this.paths[index]['data'];
                    }
                }
            }

            //alter path to polygons
            filter_pathByOneKilo(path) {
                var result = [];
                var reference = [parseFloat(path[0]['lat']), parseFloat(path[0]['lon'])];
                result.push(reference)
                for (var i = 0; i < path.length; i++) {
                    var cur_point = [parseFloat(path[i]['lat']), parseFloat(path[i]['lon'])];
                    var distance = turf.distance(turf.point(reference), turf.point(cur_point), { units: 'meters' });

                    if (distance >= 1000) {
                        reference = cur_point;
                        result.push(reference);
                    }
                }
                var last_point = [parseFloat(path[path.length - 1]['lat']), parseFloat(path[path.length - 1]['lon'])];
                result.push(last_point);
                // console.log(result.length);
                return result;
            }

            make_polygon(path) {
                var polygon = [];
                for (var i = 0; i < path.length - 1; i++) {
                    var firstPoint = turf.point(path[i]);
                    var secondPoint = turf.point(path[i + 1]);
                    var bearing = turf.bearing(firstPoint, secondPoint);
                    // console.log(bearing);
                    var makePoint_first_bearing = bearing + 90;
                    var makePoint_second_bearing = bearing - 90;
                    var makePoint_first = turf.destination(firstPoint, 1000, makePoint_first_bearing, { units: 'meters' });
                    var makePoint_second = turf.destination(firstPoint, 1000, makePoint_second_bearing, { units: 'meters' });
                    // console.log(makePoint_first.geometry.coordinates,makePoint_second.geometry.coordinates)
                    polygon.unshift(makePoint_first.geometry.coordinates);
                    polygon.push(makePoint_second.geometry.coordinates);
                }

                var firstPoint = turf.point(path[path.length - 2]);
                var secondPoint = turf.point(path[path.length - 1]);
                var bearing = turf.bearing(firstPoint, secondPoint);
                // console.log(bearing);
                var makePoint_first_bearing = bearing + 90;
                var makePoint_second_bearing = bearing - 90;
                var makePoint_first = turf.destination(firstPoint, 1000, makePoint_first_bearing, { units: 'meters' });
                var makePoint_second = turf.destination(firstPoint, 1000, makePoint_second_bearing, { units: 'meters' });
                // console.log(makePoint_first.geometry.coordinates,makePoint_second.geometry.coordinates)
                polygon.unshift(makePoint_second.geometry.coordinates);
                polygon.push(makePoint_first.geometry.coordinates);

                // console.log(path.length,polygon.length);
                return polygon;
            }

            AddOriginPolygon(pathName, polygon) {
                this.originPolygon.push({ name: pathName, data: polygon });
            }

            GetOriginPolygon(pathName) {
                for (var index = 0; index < this.originPolygon.length; index++) {
                    if (this.originPolygon[index]['name'] == pathName) {
                        return this.originPolygon[index]['data'];
                    }
                }
                console.log('no such path');
            }

        }

        ////load gpx files and show them in the page
        let pathManger = new PathMangement();
        var fileUploader = document.getElementById("fileUploader");
        fileUploader.style['position'] = 'absolute';;
        fileUploader.style['top'] = '10%';
        fileUploader.style['left'] = '50%';
        // fileUploader.innerHTML = '選擇文件';
        // var fileList = document.getElementById("fileList");
        var pathNameList = document.getElementById("pathNameList");
        pathNameList.style['width'] = '15%';
        pathNameList.style['height'] = '60%';
        pathNameList.style['position'] = 'absolute';;
        pathNameList.style['top'] = '20%';
        pathNameList.style['left'] = '50%';
        /// add right click event to update path name by pre or end
        pathNameList.addEventListener('click', function (ev) {
            ev.preventDefault();
            console.log('success!');
            return false;
        }, false);
        // update path name by pre or end
        var pathNameAlter_text = document.getElementById("pathNameAlter_text");
        pathNameAlter_text.style['position'] = 'absolute';;
        pathNameAlter_text.style['top'] = '25%';
        pathNameAlter_text.style['left'] = '70%';
        pathNameAlter_text.setAttribute('placeholder', '请输入前綴或者後綴');
        var pathNameAlter_button_pre = document.getElementById("pathNameAlter_button_pre");
        pathNameAlter_button_pre.style['position'] = 'absolute';;
        pathNameAlter_button_pre.style['top'] = '30%';
        pathNameAlter_button_pre.style['width'] = '8%';
        pathNameAlter_button_pre.style['left'] = '70%';
        var pathNameAlter_button_end = document.getElementById("pathNameAlter_button_end");
        pathNameAlter_button_end.style['position'] = 'absolute';;
        pathNameAlter_button_end.style['top'] = '30%';
        pathNameAlter_button_end.style['width'] = '8%';
        pathNameAlter_button_end.style['left'] = '80%';
        pathNameAlter_button_pre.addEventListener('click', function (ev) {
            console.log('add pre');
            if (pathNameAlter_text.value != '') {
                var pathNameList_selected = pathNameList.selectedOptions;
                console.log(pathNameList_selected.length);
                for (var i = 0; i < pathNameList_selected.length; i++) {
                    // pathNameList_selected[i].value = pathNameAlter_text.value + pathNameList_selected[i].value;
                    // console.log(pathNameList.selectedOptions[i].value);
                    pathNameList_selected[i].innerHTML = pathNameAlter_text.value + pathNameList_selected[i].innerHTML;
                }
                // pathNameList.update();
            }
            return false;
        }, false);
        pathNameAlter_button_end.addEventListener('click', function (ev) {
            console.log('add end');
            if (pathNameAlter_text.value != '') {
                var pathNameList_selected = pathNameList.selectedOptions;
                for (var i = 0; i < pathNameList_selected.length; i++) {
                    // pathNameList_selected[i].value = pathNameList_selected[i].value + pathNameAlter_text.value;
                    pathNameList_selected[i].innerHTML = pathNameList_selected[i].innerHTML + pathNameAlter_text.value;
                }
            }
            return false;
        }, false);

        //store data in the form of array : element[0] = file name, element[1] = file content
        let gpxFileDatas = [];

        //用來讀取file資料的FileReader
        var fileReader = new FileReader();

        //監控#fileUploader的值變化
        fileUploader.addEventListener("change", function (event) {
            if (this.files.length > 0) {
                //有選取file時，使用fileReader讀取file資料
                // console.log(fileReader.readAsText(this.files[0]));
                //讀取完成後，將資料轉成text
                // console.log(this.files[i].name);
                readmultifiles(this.files)
            } else {
                //沒有選取file時，例如選擇取消，
                //將<img>的src設成""
            }
        }, false);

        function readmultifiles(files) {
            function readFile(index) {
                //when all files loaded , start to decode datas
                if (index >= files.length) {
                    pathManger.decodePath(gpxFileDatas);
                    func_sendRequest_makePolygonByOldCalculater(pathManger.GetOringinalPaths());
                    return;
                }

                // store file name and file content to gpxFileDatas
                var gpxFileDatas_ele = {};
                /// path name init from file name
                gpxFileDatas_ele['name'] = files[index].name.split('.')[0];
                /// add path name to pathNameList
                var opt = document.createElement('option');
                opt.value = gpxFileDatas_ele['name'];
                opt.innerHTML = gpxFileDatas_ele['name'];
                pathNameList.appendChild(opt);

                // fileList.innerHTML += "<br>" + files[index].name.split('.')[0] + "</br>";

                var file = files[index];
                fileReader.onload = function (e) {
                    // get file content  
                    var data = e.target.result;
                    // console.log(data);
                    gpxFileDatas_ele['data'] = data;
                    gpxFileDatas.push(gpxFileDatas_ele);
                    // do sth with bin
                    readFile(index + 1)
                }
                fileReader.readAsText(file);
            }
            readFile(0);
        }

        function func_sendRequest_makePolygonByOldCalculater(paths) {
            //make paths to str
            // console.log('origin paths', paths);
            for (var i = 0; i < paths.length; i++) {
                var pathname = paths[i]['name'];
                var path = paths[i]['data'];
                var path_normalize = [];
                for (var j = 0; j < path.length; j++) {
                    path_normalize.push(path[j]['lat']);
                    path_normalize.push(path[j]['lon']);
                }

                var str_paths = path_normalize.toString();
                // console.log('str_paths', str_paths.length, str_paths);
                //send to servers
                function reqListener() {
                    console.log(typeof (this.responseText), typeof (this.response));
                    console.log(this)

                    var response = JSON.parse(this.responseText);
                    console.log(response);

                    var pathName = decodeURI(response['pathname']);
                    var polygon = response['polygon'];
                    console.log('pathName', pathName);

                    //add polygon to gpxmanager
                    pathManger.AddOriginPolygon(pathName, polygon);
                }

                var oReq = new XMLHttpRequest();
                oReq.addEventListener("load", reqListener);
                oReq.open("GET", 'decodePathLine_toPolygon' + '/' + pathname + '/' + str_paths);
                oReq.send();
            }
        }

        // seperate ui and function
        // set ui here and callback function
        class UI_allUiElementsManagement {
            constructor() {
                // this.buttons = [];
            }
            //id: string
            //style:{'background-color','opacity','position','bottom','left','right','top','width','height','border-radius','color','text',}
            //text:string ,callback: function
            Add_button(id, style, text) {
                if (document.getElementById(id)) {
                    console.log('add button error', id, 'already exist');
                }
                console.log('add button');
                var tmp_button = document.createElement('button');
                tmp_button.setAttribute('id', id);
                // tmp_button.setAttribute('style',style);

                tmp_button.style.bottom = style['bottom'];
                tmp_button.style.left = style['left'];
                tmp_button.style.position = style['position'];
                tmp_button.style['text-align'] = style['text-align'];
                tmp_button.style.height = style['height'];
                tmp_button.style['border-radius'] = style['border-radius'];
                tmp_button.style['width'] = style['width'];
                // canvas.style.border   = "1px solid";
                tmp_button.style.backgroundColor = style['backgroundColor'];
                // tmp_button.style.opacity = "0.5";
                tmp_button.style.color = style['color'];
                // canvas.style.color = 'black';

                tmp_button.innerHTML = text;
                // console.log(tmp_button.style);
                // console.log(tmp_button.getAttribute('style'));

                // this.buttons.push(tmp_button);
                document.body.appendChild(tmp_button);
                return tmp_button;
            }
            Add_CallBack(id, callback) {
                var tmp_button = document.getElementById(id);
                if (tmp_button) {
                    tmp_button.addEventListener('click', callback);
                }
                else {
                    console.log('find button error', id, 'not exist');
                }
            }

            AddElement_Select(id, style, size, options = []) {
                var ele = document.createElement('select');
                ele.setAttribute('id', id);
                ele.setAttribute('size', size);

                ele.style.bottom = style['bottom'];
                ele.style.left = style['left'];
                ele.style.position = style['position'];
                ele.style.height = style['height'];
                ele.style['width'] = style['width'];

                if (options) {
                    for (var i = 0; i < options.length; i++) {
                        var opt = document.createElement('option');
                        opt.value = options[i][0];
                        opt.innerHTML = options[i][1];
                        ele.appendChild(opt);
                    }
                }

                document.body.appendChild(ele);
                return ele;
            }

            //text input
            AddElement_TextInput(id, style, text) {
                if (document.getElementById(id)) {
                    console.log('add element error', id, 'already exist');
                }

                var ele = document.createElement('input');

                ele.style.bottom = style['bottom'];
                ele.style.left = style['left'];
                ele.style.position = style['position'];
                ele.style['text-align'] = style['text-align'];
                ele.style.height = style['height'];
                ele.style['border-radius'] = style['border-radius'];
                ele.style['width'] = style['width'];
                // canvas.style.border   = "1px solid";
                ele.style.backgroundColor = style['backgroundColor'];
                // tmp_button.style.opacity = "0.5";
                ele.style.color = style['color'];
                // canvas.style.color = 'black';

                // ele.innerHTML = text;
                ele.setAttribute('placeholder', text);

                // this.buttons.push(tmp_button);
                document.body.appendChild(ele);
                return ele;
            }

            AddElement_AddSubmit(id, style, text) {
                if (document.getElementById(id)) {
                    console.log('add element error', id, 'already exist');
                }

                var ele = document.createElement('input');
                ele['type'] = 'submit';

                ele.style.bottom = style['bottom'];
                ele.style.left = style['left'];
                ele.style.position = style['position'];
                ele.style['text-align'] = style['text-align'];
                ele.style.height = style['height'];
                ele.style['border-radius'] = style['border-radius'];
                ele.style['width'] = style['width'];
                // canvas.style.border   = "1px solid";
                ele.style.backgroundColor = style['backgroundColor'];
                // tmp_button.style.opacity = "0.5";
                ele.style.color = style['color'];
                // canvas.style.color = 'black';

                ele.innerHTML = text;
                // console.log(ele.style);
                // console.log(ele.getAttribute('style'));

                // this.buttons.push(tmp_button);
                document.body.appendChild(ele);
                return ele;
            }
        };
        let ui_manager = new UI_allUiElementsManagement();
        ///set auto select pathname to pathNameList
        let textInput_autoselect_pathNamelist = ui_manager.AddElement_TextInput('textInput_autoselect_pathNamelist', { 'position': 'absolute', 'bottom': '45%', 'left': '70%', 'width': '15%' }, '輸入名字列表');
        let filterInput_autoselect_pathNamelist = ui_manager.AddElement_TextInput('filterInput_autoselect_pathNamelist', { 'position': 'absolute', 'bottom': '40%', 'left': '70%', 'width': '5%' }, '分隔符');
        let button_autoselect_pathNameList = ui_manager.Add_button('button_autoselect_pathNameList', { 'position': 'absolute', 'bottom': '40%', 'left': '80%', 'width': '5%' }, '搜索');
        function func_cb_button_autoselect_pathNameList() {
            // let pathNameList = document.getElementById('pathNameList');
            // let filterInput_autoselect_pathNamelist = document.getElementById('filterInput_autoselect_pathNamelist');
            let filter = filterInput_autoselect_pathNamelist.value;
            var namestr = textInput_autoselect_pathNamelist.value;

            var namelist;
            if (filter) {
                namelist = namestr.split(filter);
            }
            else {
                namelist = namestr.split(' ');
            }

            console.log(namelist);

            let pathNameList_ele = pathNameList.options;
            // console.log(pathNameList_ele);
            for (let i = 0; i < pathNameList_ele.length; i++) {
                // console.log(pathNameList_ele[i].value);
                for (let j = 0; j < namelist.length; j++) {
                    if (namelist[j].includes(pathNameList_ele[i].value)) {
                        console.log('find');
                        pathNameList_ele[i].selected = true;
                        break;
                    }
                }
            }
        }
        ui_manager.Add_CallBack('button_autoselect_pathNameList', func_cb_button_autoselect_pathNameList);

        ////set ui and function of db management
        class DB_Management {
            constructor() {
                this.map_shedId_ToPathsName = {};
                this.map_shedIdAndpathName_ToPathId = {};
            }
            ///api for public 
            pub_Get_allShed() {
                var shedsMapToPaths = '{{ shedsMapToPaths|safe }}';
                console.log(typeof (shedsMapToPaths));
                var dic_shedId_ToPathsName = JSON.parse(shedsMapToPaths);
                console.log(typeof (dic_shedId_ToPathsName), Object.keys(dic_shedId_ToPathsName));
                return dic_shedId_ToPathsName;
            }

            pub_Insert_single(pathId, pathName, shedId, latitude, longitude, countryCode = 'CN', note = '朋振') {
                let url = this.server + 'cloudNfz';
                myobj = {
                    'querytype': 'insert',
                    'nfzid': pathId,
                    'nfzTitle': pathName,
                    'nfzType': shedId,
                    'latitude': latitude,
                    'longitude': longitude,
                    'countryCode': countryCode,
                    'note': note
                };
                return res;
            }
        }

        let db_manager = new DB_Management();
        ///get all db data
        var linkDb_sheds_paths = db_manager.pub_Get_allShed();
        ///init ui of db management
        let selectList_Sheds = ui_manager.AddElement_Select(id = 'selectList_Sheds', style = { 'position': 'absolute', 'bottom': '90%', 'left': '1%', 'height': '6%', 'width': '10%', 'color': 'white', 'text-align': 'center' }, size = 1, options = []);
        let selectList_Shed_Paths = ui_manager.AddElement_Select(id = 'selectList_Shed_Paths', style = { 'position': 'absolute', 'bottom': '20%', 'left': '1%', 'height': '60%', 'width': '25%', 'color': 'white', 'text-align': 'center' }, size = 20);
        let input_text_createShed_Name = ui_manager.AddElement_TextInput(id = 'input_text_createShed_Name', style = { 'position': 'absolute', 'bottom': '90%', 'left': '15%', 'width': '15%' }, text = '輸入公棚名字');
        let button_createShed = ui_manager.Add_button(id = 'button_createShed', style = { 'position': 'absolute', 'bottom': '83%', 'left': '15%', 'height': '6%', 'width': '8%', 'text-align': 'center' }, text = '新增公棚');
        let button_deleteShed = ui_manager.Add_button(id = 'button_deleteShed', style = { 'position': 'absolute', 'bottom': '83%', 'left': '1%', 'height': '6%', 'width': '8%', 'text-align': 'center' }, text = '刪除公棚');
        ////set old path list to multiple select
        selectList_Shed_Paths.setAttribute('multiple', 'multiple');

        func_init_selectList_db_addSheds();
        selectList_Sheds.onchange = function () {
            //todo : clear list
            selectList_Shed_Paths.innerHTML = null;
            console.log(selectList_Sheds.value);
            var shedId = selectList_Sheds.value;
            var paths = linkDb_sheds_paths[shedId];
            if (paths) {
                console.log(paths.length, paths);

                for (var i = 0; i < paths.length; i++) {
                    var option = document.createElement('option');
                    option.value = paths[i];
                    option.innerHTML = paths[i];
                    selectList_Shed_Paths.appendChild(option);
                }
            }
            else {
                console.log('no path');
            }
        }

        function func_cb_button_createShed() {
            shedId = input_text_createShed_Name.value;
            console.log(shedId)
            var opt = document.createElement('option');
            opt.value = shedId;
            opt.innerHTML = shedId;
            selectList_Sheds.appendChild(opt);
        }
        ui_manager.Add_CallBack('button_createShed', func_cb_button_createShed);

        function func_cb_button_deleteShed() {
            var shedId = selectList_Sheds.value;
            console.log(shedId);
            let shedIdList = selectList_Sheds.options;
            for (let i = 0; i < shedIdList.length; i++) {
                if (shedIdList[i].value === shedId) {
                    selectList_Sheds.removeChild(shedIdList[i]);
                    break;
                }
            }

            var paths = linkDb_sheds_paths[shedId];
            if (paths != undefined) {
                console.log('delete shed in server')
                function reqListener() {
                    // console.log(this.responseText);
                }

                //todo send requests
                var oReq = new XMLHttpRequest();
                oReq.addEventListener("load", reqListener);
                oReq.open("GET", 'delete_shed' + '/' + shedId);
                oReq.send();
            }

            //clear selectList_Shed_Paths
            selectList_Shed_Paths.innerHTML = null;
        }
        ui_manager.Add_CallBack('button_deleteShed', func_cb_button_deleteShed);


        //add all sheds to selectList
        function func_init_selectList_db_addSheds() {
            var sheds = Object.keys(linkDb_sheds_paths);
            for (var i = 0; i < sheds.length; i++) {
                let option = document.createElement('option');
                option.value = sheds[i];
                option.innerHTML = sheds[i];
                selectList_Sheds.appendChild(option);
            }
        }


        ///set auto select pathname to selectList_Shed_Paths
        let textInput_autoselect_selectList_Shed_Paths = ui_manager.AddElement_TextInput('textInput_autoselect_selectList_Shed_Paths', { 'position': 'absolute', 'bottom': '75%', 'left': '30%', 'width': '15%' }, '輸入名字列表');
        let filterInput_autoselect_selectList_Shed_Paths = ui_manager.AddElement_TextInput('filterInput_autoselect_selectList_Shed_Paths', { 'position': 'absolute', 'bottom': '68%', 'left': '30%', 'width': '5%' }, '分隔符');
        let button_autoselect_selectList_Shed_Paths = ui_manager.Add_button('button_autoselect_selectList_Shed_Paths', { 'position': 'absolute', 'bottom': '68%', 'left': '37%', 'width': '5%' }, '搜索');
        function func_cb_button_autoselect_selectList_Shed_Paths() {
            let filter = filterInput_autoselect_selectList_Shed_Paths.value;
            var namestr = textInput_autoselect_selectList_Shed_Paths.value;
            var namelist;
            if (filter) {
                namelist = namestr.split(filter);
            }
            else {
                namelist = namestr.split(' ');
            }
            console.log(namelist);

            let pathNameList_ele = selectList_Shed_Paths.options;
            // console.log(pathNameList_ele);
            for (let i = 0; i < pathNameList_ele.length; i++) {
                // console.log(pathNameList_ele[i].value);
                for (let j = 0; j < namelist.length; j++) {
                    if (namelist[j].includes(pathNameList_ele[i].value)) {
                        console.log('find');
                        pathNameList_ele[i].selected = true;
                        break;
                    }
                }
            }
        }
        ui_manager.Add_CallBack('button_autoselect_selectList_Shed_Paths', func_cb_button_autoselect_selectList_Shed_Paths);

        ///set delete button 
        let button_deletePaths_selectList_Shed_Paths = ui_manager.Add_button('button_deletePaths_selectList_Shed_Paths', { 'position': 'absolute', 'bottom': '55%', 'left': '30%', 'width': '8%' }, '刪除路徑');
        function func_cb_button_deletePaths_selectList_Shed_Paths() {
            // console.log(selectList_Sheds.value);
            var shedId = selectList_Sheds.value;
            var paths = [];
            let pathNameList_ele = selectList_Shed_Paths.options;
            for (let i = 0; i < pathNameList_ele.length; i++) {
                if (pathNameList_ele[i].selected) {
                    paths.push(pathNameList_ele[i].value);
                    selectList_Shed_Paths.removeChild(pathNameList_ele[i]);
                    i--;
                }
            }
            // var localSend_value = { 'shedId': shedId, 'paths': paths };
            ///update db 
            var pathstr = '';
            for (var i = 0; i < paths.length - 1; i++) {
                pathstr += paths[i] + ',';
            }
            pathstr += paths[paths.length - 1];

            function reqListener() {
                console.log(this.responseText);
            }

            var oReq = new XMLHttpRequest();
            oReq.addEventListener("load", reqListener);
            oReq.open("GET", shedId + '/' + pathstr);
            oReq.send();
        }
        ui_manager.Add_CallBack('button_deletePaths_selectList_Shed_Paths', func_cb_button_deletePaths_selectList_Shed_Paths);

        ///set add paths button
        let button_insertPaths_selectList_Shed_Paths = ui_manager.Add_button('button_insertPaths_selectList_Shed_Paths', { 'position': 'absolute', 'bottom': '35%', 'left': '30%', 'width': '8%' }, '插入路徑');
        function func_cb_button_insertPaths_selectList_Shed_Paths() {
            // console.log(selectList_Sheds.value);
            var shedId = selectList_Sheds.value;
            let pathNameList_ele = pathNameList.options;
            for (let i = 0; i < pathNameList_ele.length; i++) {
                if (pathNameList_ele[i].selected) {
                    var path = pathNameList_ele[i].innerHTML;
                    //reset pathname in pathNameList
                    pathNameList_ele[i].innerHTML = pathNameList_ele[i].value;
                    var points = pathManger.GetPathByName(pathNameList_ele[i].value);
                    var pathstr = points.toString();
                    console.log(pathstr);

                    function reqListener() {
                        console.log(this.responseText);
                    }

                    var oReq = new XMLHttpRequest();
                    oReq.addEventListener("load", reqListener);
                    oReq.open("GET", shedId + '/' + path + '/' + pathstr + '/' + 'pengzhen');
                    oReq.send();

                    //todo update selectList_Shed_Paths by result
                    let option = document.createElement('option');
                    option.value = path;
                    option.innerHTML = path;
                    selectList_Shed_Paths.appendChild(option);

                }
            }
        }
        ui_manager.Add_CallBack('button_insertPaths_selectList_Shed_Paths', func_cb_button_insertPaths_selectList_Shed_Paths);

        //// add button to show map
        let button_showMap = ui_manager.Add_button('button_showMap', { 'position': 'absolute', 'bottom': '20%', 'left': '80%', 'width': '8%' }, '顯示路徑');
        function func_cb_button_showMap() {
            let pathNameList_ele = pathNameList.options;
            for (var i = 0; i < pathNameList_ele.length; i++) {
                if (pathNameList_ele[i].selected) {
                    var pathName = pathNameList_ele[i].value;
                    console.log(pathName);
                    window.open('showPath'+'/'+pathName);
                    return;
                }
            }
            
            alert('請先選擇路徑');
            return;
        }

        ui_manager.Add_CallBack('button_showMap', func_cb_button_showMap);


        function func_runAfterGpxFilesLoaded() {
            //todo : run after gpx files loaded
        }




    </script>
</body>

</html>